body {
  height: 100%;
  background-color: #223;
  color: #fff;  
  padding-top: 10px;
}
h1
{
	text-align: center;
}
.row
{
	align-items: center;
}
.texte_important		/*utiliser dans les modals de suppression*/
{	
    font-weight: bold;
}
.reference_batterie_css{
	font-weight: bold;
	font-size: x-large;	
}


/*************************************************************************************************/
/* modification du style des tabs (gestion des fiches      )                                    */
/*************************************************************************************************/
.my_onglets{
color:white;
}
.my_onglets:hover{
	color:black;
	background: white;
}
.fiche_contenu{
background-color:white;
color:black;
}
.my_card{
background-color:#f1f1f1;
color:black;
}
.card_label{
	font-weight: bold;
}
 .card_titre_entete{
	font-weight: bold;
  	margin: 0em 0;
	color: #347;
	text-shadow: 0 1px 1px #fff;
	text-align: center;
	font-family: georgia, "trebuchet ms", arial, serif;
	
}
.card_titre{
	font-weight: bold;
	display: flex;
	border-bottom: 1px solid CurrentColor;
  	margin: 0.5em 0;
	color: #347;
	text-shadow: 0 1px 1px #fff;
	text-align: center;
	font-family: georgia, "trebuchet ms", arial, serif;
}
.card_titre::after{
	margin: 1.5em 0;	
}
.card_divers{
	
}
/*************************************************************************************************/
/* modification du style de la bannière                                                          */
/*************************************************************************************************/
#banniere_echeances{
  background-color: #445;
  border: 2px solid black;
  border-radius: 6px;
  }
.banniere_echeances_off{
  
  border: 1px solid white;
  border-radius: 6px;
  
  
 }
 
.banniere_echeances_on{
  background-color: #fff;
  border: 2px solid white;
  border-radius: 6px;
  color: black;
 }

 .popover {
    z-index: 1010; /* A value higher than 1010 that solves the problem */
}
 
/*************************************************************************************************/
/* modification du style de la liste déroulante de l'autocomplétion                              */
/*************************************************************************************************/
  .ui-autocomplete {
  }
  /*************************************************************************************************/
/* fieldset                              */
/*************************************************************************************************/
.my_fieldset{
  background-color: #fAfAfA;
  border: 1px solid black;
  border-radius: 6px;
}
/*************************************************************************************************/
/* modification du style des boites de dialogues (modal) pour ajout/modifictaions et suppression */
/*************************************************************************************************/
.modal_span{
	word-wrap: break-word;
}
.modal-dialog
{
color: black;
}
.my_modal_header_ajout{
	background-color: #428bca;
	color:white;
}
.my_modal_header_modification{
	background-color: #f0ad4e;
	color:white;	
}
.my_modal_header_suppression{
	background-color: #d9534f;;
	color:white;
}
.my_modal_header_echeances_changement{
	background-color: #d9534f;
	color:white;
}

.my_modal_header_echeances_prevenance{
	background-color: #f0ad4e;
	color:white;
}

.my_modal_operation_courante_titre{
	font-weight: bold;
	margin: 0em 0;
}
/****************************************************************************/
/*modification du style des boites de dialogues suites à validation/ abandon*/
/****************************************************************************/
.mytoast_validation{
	background-color: green;
	position: fixed;
	right:0%;
	top:20%;
	transform: translate(-10%, -50%);
}
.mytoast_echec{
	background-color: red;
	position: fixed;
	right:0%;
	top:20%;
	transform: translate(-10%, -50%);
}
/* modifications des propritées des tables */
.table{
	color: white;
	table-layout: fixed;
	border: 2px solid white;
}
td {
  word-wrap: break-word;  
  vertical-align: middle;
}
.table thead th{
 vertical-align: top;
}

/************************************************/
/* éléments cachés au départ */
/************************************************/
.element_cache_debut{
	display:none;
}
.mon_texte_align_bas{
	vertical-align: bottom;
}
/************************************************/
/* message erreur*/
/************************************************/
.entree_erreur{
	color: red;
}
/* apparition du sens -interdit sur le button lorsqu'il est disable */
button:disabled {
  cursor: not-allowed;
} 
/************************************************/
/* message  mail*/
/************************************************/
.titre_mail{
	text-align: center;
	font-weight: bold;
  	margin: 0em 0;
	color: #347;
	text-shadow: 0 1px 1px #fff;
	text-align: center;
	font-family: georgia, "trebuchet ms", arial, serif;
	
}
